<div class="row">
    <div class="col-lg-8 offset-lg-2">
    	<div class="card bg-light mb-3">
                <div class="card-header">Allenatore</div>
                <div class="card-body">
        <form role="form">
            <fieldset class="form-group">
                <label>Tipo Licenza</label>
                <select class="form-control">
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                </select>
            </fieldset>         
            
            <fieldset class="form-group">
                <label>Nome</label>
                <input class="form-control" placeholder="Nome">
            </fieldset>    
            
            <fieldset class="form-group">
                <label>Cognome</label>
                <input class="form-control" placeholder="Cognome">
            </fieldset>
            
            <fieldset class="form-group">
                <label>Regione</label>
                <select class="form-control">
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                </select>
            </fieldset>  
            
            <fieldset class="form-group">
                <label>Provincia</label>
                <select class="form-control">
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                </select>
            </fieldset>  
            
            <fieldset class="form-group">
                <label>Comune</label>
                <select class="form-control">
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                    <option>ioioio o io io io </option>
                </select>
            </fieldset>  
            
            <div class="form-group input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <!-- <span class="input-group-addon">@</span> -->
              <input type="text" class="form-control" placeholder="Username">
            </div>

            
            <div class="form-group">
               <div class="checkbox">
                   <label>
                       <input type="checkbox" value=""> Spostamento Citta
                   </label>
               </div>
               <div class="checkbox">
                   <label>
                       <input type="checkbox" value=""> Spostamento Nazione
                   </label>
               </div>
               <div class="checkbox">
                   <label>
                       <input type="checkbox" value=""> Spostamento Continente
                   </label>
               </div>
           </div>
           
           <button id="btnFA-" class="btn btn-success pull-right">
				<i class="fa fa-play-circle"></i>
					Registrate
		   </button>
        </form>
        </div></div>
     </div>
</div>             